####################################
# Maven
####################################
target/
*.log

####################################
# Appium / Test Output
####################################
Extent Report/
Reports/
screenshots/
videos/

####################################
# Eclipse
####################################
.classpath
.project
.settings/

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
*.iws

####################################
# VS Code
####################################
.vscode/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Node / Appium
####################################
node_modules/
npm-debug.log*
yarn-error.log*

####################################
# Environment / Secrets
####################################
.env
*.properties
/target
.idea
.vscode
*.iml
.DS_Store
